/* Sticky footer styles
-------------------------------------------------- */
/* Add font: Raleway */
@import url(https://fonts.googleapis.com/css?family=Raleway);

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-family: 'Raleway', sans-serif;
}

h4 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

li {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

a {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

html {
    position: relative;
    min-height: 100%;

}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #E1E3E4;

}

.content a {
    color: #3C948B;
    /*font-weight: bold;*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #313131;
    color: white;
    padding-top: 10px;
}

#content{
    padding-bottom: 80px;
}

#sidebar-first{
    padding-bottom: 80px;
}


.social{
    height:32px;
    width: 32px;
}

.tussen{
    padding-left: 20px;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.container .text-muted {
    margin: 20px 0;
}


.field-items{
    display: inline;
}

/* Navigatie */

#main-navigation{
    background-color: #E1E3E4;
    /* height: 70px; */
    text-transform: uppercase;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    list-style-type: disc;
    width: 100%;
    border-bottom: 2px solid #d2d6d5;
    float: left;
}

#main-navigation > .links > li {
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;

}

#main-navigation > .links > li > a{
    color: #656666;
    border-left: 2px solid #d2d6d5;
    padding-left: 10px;
    font-size: 18px;
}

#main-navigation > .links > li > a:hover{
    color: #3C948B;
    text-decoration: none;
}

#main-navigation > .links > li.active {
    color: #3C948B;
    font-weight: bold;
}


.links > li.active > a {
    color: #3C948B;
    font-weight: bold;
}

#sidebar-first{
    margin-top: 20px;
}
.logonav{
    float: right;
    padding-right: 50px;
}

/* Contact */
label{
    font-family: 'Raleway', sans-serif;
}

.contact{
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
    padding-left: 15px;
    border: 2px solid rgba(255,255,255,.4);
    height: 48px;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 80%;


}

.contact:focus{
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    overflow: hidden;
    border: 2px solid #3C948B;
}

.webform-submit{
    border: 3px solid #313131;
    color: #313131;
    font-family: inherit;
    font-size: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.webform-submit:hover{
    border: 3px solid #3C948B;
    color: #3C948B;
}

/* Portfolio */
.views-field{
    padding-left: 20px;
    padding-bottom: 20px;
}

/* Media */
#player{
    margin: 0 auto;
}

/* Submit velden */
#edit-search-block-form--2{
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
    padding-left: 15px;
    border: 2px solid #313131;
    height: 48px;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 40%;
}

#edit-search-block-form--2:focus{
    border: 3px solid #3C948B;
}


.form-submit{
    border: 3px solid #313131;
    color: #313131;
    font-family: inherit;
    font-size: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    margin: 15px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.form-submit:hover{
    border: 3px solid #3C948B;
    color: #3C948B;
}

#edit-submit{
    margin-left: 30px;
}

/* Poll titel */
.poll > .title{
    font-size: 20px;
    font-weight: bold;
}
