/* Sticky footer styles
-------------------------------------------------- */
/* Add font: Raleway */
@import url(https://fonts.googleapis.com/css?family=Raleway);

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-family: 'Raleway', sans-serif;
}

h4 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

li {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

a {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

html {
    position: relative;
    min-height: 100%;

}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #E1E3E4;

}

body a {
    color: #3C948B;
    font-weight: bold;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #313131;
    color: white;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.header__logo {
    width: 40px;
    height: 30px;

}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.container .text-muted {
    margin: 20px 0;
}

.container-fluid {
    background-color: #E1E3E4;
    /* height: 70px; */
    text-transform: uppercase;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}


.navbar-default {
    background-color: #E1E3E4;
    border-bottom: 2px solid #d2d6d5;
}

.navbar-default .navbar-nav > li > a {
    color: #656666;
    border-left: 1px solid #d2d6d5;

}

.navbar-default .navbar-nav > li > a:hover {
    color: #3C948B;
}

.navbar-default .navbar-nav > li.active {
    color: #3C948B;
    font-weight: bold;
}

.navbar-default .navbar-nav > li.active > a {
    color: #3C948B;
    font-weight: bold;
}
